<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>New Page</title>
    </head>
    <body>
        <h3><%= message.user %></h3>
        <h3><%= message.message %></h3>
        <h3><%= message.date %></h3>
    </body>
</html>