<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Index Page</title>
    </head>
    <body>
        <%- include('nav') %>
        <h1>This is index</h1>
        <ul>
            <% messages.forEach((message) => { %>
                <%- include('messages/messages', {user : message.user, text: message.text, added: message.added}) %>
            <% }) %>
        </ul>
    </body>
</html>