<li>
    <div id="<%= user+added %>">
        <div>Username: <%= user %></div>
        <div>Message: <%= text %></div>
        <div>Date added: <%= added %></div>
        <button type="submit">Open</button>
    </div>
</li>